<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
        <style>
           

            .cart-box
            {
                margin:3% auto;
            }
            .cart-items
            {
                
                box-shadow: 0 4px 8px 0 rgba(146, 6, 123, 0.2);
                margin-bottom: 1rem;
                display: flex;
                width: 500px;
            }
            .cart-items div
            {
                padding:1rem 1rem;
            }
            .cart-items h5
            {
                font-size: 16px;
                text-transform: uppercase;
                letter-spacing: 1px;
                line-height: 2px;
            }
            .cart-items h6
            {
                font-size:15px;
                line-height: 2px;
            }
            .cart-items p
            {
                line-height: 2px;
            }
            .cart-items button
            {
                padding:0.4rem 0.7rem;
                background: linear-gradient(90deg,#e946a5,#8d0f58);
                border:none;
                outline:none;
                color:white;
            }

            .cart-items button:hover
            {
                background: linear-gradient(45deg,#e946a5, gold);
            }

            .cart-items form
            {
                display: inline;
            }

            .cart-header
            {
                display: flex;
                width: 500px;
                background-color: #af2174;
                justify-content: space-between;
                color:white;
                font-weight: bolder;
                font-size: 20px;
                padding:0.5rem 1rem;
            }

            .buy-btn
            {
                width: 530px;
                background-color: #af2174;
                color:white;
                font-weight: bolder;
                font-size: 20px;
                padding:0.5rem 1rem;
                border:none;
                outline:none;
            }

            .buy-btn:hover{
                background-color: #d13891;
            }

        </style>
    </head>
    <body>

        <div class="cart-box">
            <center>
            <div class="cart-header">
                <div>My Shopping Cart (<%= items %>)</div>
                <div>Total Price:&#8377; <%= totalamt %></div>
            </div>
            <br>
            
            <% prodet.forEach( product => {  %>
                <div class="cart-items">

                    <div style="flex-grow: 1;"><img class="productImage" src='<%= product.image  %>' height="200px"></div>
                    <div style="flex-grow: 10;">
                        <h5 ><%= product.collectionName %></h5>
                        <h6 ><%= product.name %></h6>
                        <p class="price">Price: &#8377;<%= product.price %></p>
    
                        <br>
                        <form action="/cartdelete<%= product.id %>" method="GET">
                            <button id ="deletecartitem" type="submit">delete</button>
                        </form>
                        <form action="">
                            <button>Move to Wishlist</button>
                        </form>
                    </div>
                        
                </div>
            <% }) %>
    
            <form action="/checkout" method="GET">
                <button type="submit" class="buy-btn">Proceed to Buy</button>
            </form>
            </center>
        </div>

    </body>
</html>